
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="shortcut icon" href="../../assets/ico/favicon.ico">-->

    <title>Карточки по орфоэпии</title>

    <link href="../static/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/jumbotron-narrow.css" rel="stylesheet">

  <script type="text/javascript" src="http://gc.kis.v2.scr.kaspersky-labs.com/53ED2383-8A85-C445-BC43-D8312919413A/main.js" charset="UTF-8"></script>
  </head>

  <body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><a href="/">Главная</a></li>
          <li class="active"><a href="/about">О проекте</a></li>
          <li><a href="/contacts">Контакты</a></li>
        </ul>
        <h3 class="text-muted">Карточки по орфоэпии</h3>
      </div>

      
        		<p>Карточки по орфоэпии предназначены для подготовки к Единому гоударственному экзамену по русскому языку за курс средней школы. </p>
		<p>Эти карточки напоминают те, которыми пользуются люди, повторяющие иностранные слова. Задание состоит в том, чтобы решить, куда падает ударение в каждом предложенном слове. Каждое свое решение сверяйте с правильным ответом,нажав кнопку "Проверить". Там ударный гласный выделен прописной буквой. Если Вы допустили ошибку или недостаточно хорошо запомнили, нажмите конпку "Повторить". В этом случае карточка позднее будет предложена еще раз. Если Вы уверены, что помните произношение слова правильно, нажмите кнопку "Правильно". В этом случае карточка считается выученной и больше повторяться не будет. В идеале Вы должны мгновенно вспоминать, куда падает ударение во всех предложенных на карточках примерах.</p>
		<p>В качестве примеров на карточках используются слова, которые встречаются в задании № 4 ЕГЭ по русскому языку. Карточки по орфографии – хороший способ повторения перед экзаменом.</p>
		<p>Составитель Б. А. Панов.</p>
		

      <div class="footer">
        <p>&copy; Б. А. Панов, 2018</p>
      </div>

    </div>

  </body>
</html>