
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="shortcut icon" href="../../assets/ico/favicon.ico">-->

    <title>Карточки по пунктуации</title>

    <link href="../static/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/jumbotron-narrow.css" rel="stylesheet">

  <script type="text/javascript" src="http://gc.kis.v2.scr.kaspersky-labs.com/53ED2383-8A85-C445-BC43-D8312919413A/main.js" charset="UTF-8"></script>
  </head>

  <body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><a href="/">Главная</a></li>
          <li><a href="/about">О проекте</a></li>
          <li class="active"><a href="/contacts">Контакты</a></li>
        </ul>
        <h3 class="text-muted">Карточки по орфоэпии</h3>
      </div>

        <p>bapanov@gmail.com</p>
		

      <div class="footer">
        <p>&copy; Б. А. Панов, 2018</p>
      </div>

    </div> 

  </body>
</html>