<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="shortcut icon" href="../../assets/ico/favicon.ico">-->

    <title>Карточки по орфоэпии</title>

    <link href="../static/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/jumbotron-narrow.css" rel="stylesheet">

  <script type="text/javascript" src="http://gc.kis.v2.scr.kaspersky-labs.com/53ED2383-8A85-C445-BC43-D8312919413A/main.js" charset="UTF-8"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  </head>
  <body>

    <div ng-app>

      <div class="container">
		
	  <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><a href="/">Главная</a></li>
          <li><a href="/about">О проекте</a></li>
          <li><a href="/contacts">Контакты</a></li>
        </ul>
        <h3 class="text-muted">Карточки по орфоэпии</h3>
      </div>

      <div class="jumbotron">
		<p class="lead">Конец!</p> <br/>
        <p><a class="btn btn-lg btn-success" href="/" role="button">Вернуться на главную страницу</a></p>
	  </div>

	  <br/>

	  <div class="footer">
        <p>&copy; Б. А. Панов, 2018</p>
      </div>
      </div>

	</div>

  </body>
</html>