
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="shortcut icon" href="../../assets/ico/favicon.ico">-->

    <title>Карточки по орфоэпии</title>

    <link href="../static/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/jumbotron-narrow.css" rel="stylesheet">

  <script type="text/javascript" src="http://gc.kis.v2.scr.kaspersky-labs.com/53ED2383-8A85-C445-BC43-D8312919413A/main.js" charset="UTF-8"></script>
  </head>

  <body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="/">Главная</a></li>
          <li><a href="/about">О проекте</a></li>
          <li><a href="/contacts">Контакты</a></li>
        </ul>
        <h3 class="text-muted">Карточки по орфоэпии</h3>
      </div>

      <div class="jumbotron">
        <p class="lead">Эти карточки напоминают те, которыми пользуются люди, повторяющие иностранные слова. Задание состоит в том, чтобы решить,куда падает ударение в предложенных словах. Каждое свое решение сверяйте с правильным ответом.</p>
         <p class="lead">Если Вы допустили ошибку или недостаточно хорошо запомнили правильное произношение, нажмите конпку "Повторить". В этом случае карточка позднее будет предложена еще раз.<br>Если Вы уверены, что произносите слово в соответствии с литературной нормой, нажмите кнопку "Правильно". В этом случае карточка считается выученной и больше повторяться не будет.</p>
    </div>

	  
	  <div class="row marketing">
        <div class="col-lg-6">
		<div class="jumbotron">
			<p><a class="btn btn-lg btn-success" href="/task1" role="button">Карточки 1-75</a></p>
		</div>
		<div class="jumbotron">
			<p><a class="btn btn-lg btn-success" href="/task2" role="button">Карточки 76-150</a></p>
		</div>		
        </div>

        <div class="col-lg-6">
		<div class="jumbotron">
			<p><a class="btn btn-lg btn-success" href="/task3" role="button">Карточки 151-225</a></p>
		</div>	
		<div class="jumbotron">
			<p><a class="btn btn-lg btn-success" href="/task4" role="button">Карточки 226-300</a></p>
		</div>
        </div>
      </div>



      <div class="footer">
        <p>&copy; Б. А. Панов, 2018</p>
      </div>

    </div>

  </body>
</html>