<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Карточки по орфоэпии</title>

    <link href="../static/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/jumbotron-narrow.css" rel="stylesheet">

	<script type="text/javascript" src="http://gc.kis.v2.scr.kaspersky-labs.com/53ED2383-8A85-C445-BC43-D8312919413A/main.js" charset="UTF-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  </head>
  <body>
  <form method="GET">

  <div ng-app>
	
	<div class="container">
		

	  
			
      <div class="jumbotron">
      <div ng-switch="number" ng-init= {{ number_of_task }}>

	  <div ng-switch-default>
	  <div ng-app="">
		<div ng-hide="isShow">
			<br/><br/><br/><br/>
            <p>Подождите секундочку</p>
			<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
		</div>
	  </div>				
	  </div>

	  <div ng-switch-when="1">
	  <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 1</p>
            <h1>АЭРОПОРТОВ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
            <p>Карточка 1</p>
            <h1><b>аэропОртов</b></h1>
              <hr style="border: 2px solid green;" align=center width=60%>
            <p></p>
	        <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	        <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
		</div>

        <div ng-switch-when="2">
        <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 2</p>
			<h1>БАНТЫ</h1>
		
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 2</p>
			<h1><b>бАнты</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	        <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	        <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>

        <div ng-switch-when="3">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 3</p>
			<h1>БОРОДУ</h1>
		
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 3</p>
			<h1><b>бОроду</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>

        <div ng-switch-when="4">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 4</p>
			<h1>БУХГАЛТЕРОВ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 4</p>
			<h1><b>бухгАлтеров</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	        <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	        <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>

		<div ng-switch-when="5">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 5</p>
			<h1>ВЕРОИСПОВЕДАНИЕ</h1>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 5</p>
			<h1><b>вероисповЕдание</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>

		<div ng-switch-when="6">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 6</p><br />
			<h1>ГРАЖДАНСТВО</h1>
			
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 6</p><br />
			<h1><b>граждАнство</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			<br />
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="7">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 7</p>
			<h1>ДЕФИС</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 7</p>
			<h1><b>дефИс</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>
		
		<div ng-switch-when="8">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 8</p>
			<h1>ДЕШЕВИЗНА</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 8</p>
			<h1><b>дешевИзна</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>
		
		<div ng-switch-when="9">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 9</p>
			<h1>ДИСПАНСЕР</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 9</p>
			<h1><b>диспансЕр</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="10">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 10</p>
			<h1>ДОГОВОРЕННОСТЬ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 10</p>
			<h1><b>договорЁнность</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="11">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 11</p>
			<h1>ДОКУМЕНТ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 11</p>
			<h1><b>докумЕнт</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="12">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 12</p>
			<h1>ДОСУГ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 12</p>
			<h1><b>досУг</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="13">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 13</p>
			<h1>ЕРЕТИК</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 13</p>
			<h1><b>еретИк</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="14">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 14</p>
			<h1>ЖАЛЮЗИ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 14</p>
			<h1><b>жалюзИ</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="15">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 15</p>
			<h1>ЗНАЧИМОСТЬ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 15</p>
			<h1><b>знАчимость</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="16">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 16</p>
			<h1>ЗНАЧИМЫЙ</h1>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 16</p>
			<h1><b>знАчимый</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="17">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 17</p>
			<h1>ИКСЫ<h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 17</p>
			<h1><b>Иксы</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="18">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 18</p>
			<h1>КАТАЛОГ</h1>
			<p></p>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 18</p>
			<h1><b>каталОг</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="19">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 19</p>
			<h1>ДИАЛОГ</h1>
			<p></p>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 19</p>
			<h1><b>диалОг</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="20">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 20</p>
			<h1>МОНОЛОГ</h1>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 20</p>
			<h1><b>монолОг</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="21">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 21</p>
			<h1>НЕКРОЛОГ</h1>
			<p></p>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 21</p>
			<h1><b>некролОг</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
        <div ng-switch-when="22">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 22</p>
			<h1>КВАРТАЛ</h1>
			<p></p>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 22</p>
			<h1><b>квартАл</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>
		
		<div ng-switch-when="23">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 23</p>
			<h1>КИЛОМЕТР</h1>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 23</p>
			<h1><b>киломЕтр</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>
		
		<div ng-switch-when="24">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 24</p>
			<h1>САНТИМЕТР</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 24</p>
			<h1><b>сантимЕтр</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>
		
		<div ng-switch-when="25">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 25</p>
			<h1>ДЕЦИМЕТР</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 25</p>
			<h1><b>децимЕтр</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>
		<div ng-switch-when="26">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 26</p>
			<h1>МИЛЛИМЕТР</h1>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 26</p>
			<h1><b>миллимЕтр</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="27">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 27</p>
			<h1>КОНУСЫ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 27</p>
			<h1><b>кОнусы</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="28">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 28</p>
			<h1>КОНУСОВ</h1>
			<p></p>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 28</p>
			<h1><b>кОнусов</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="29">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 29</p>
			<h1>КОРЫСТЬ</h1>
			<p></p>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 29</p>
			<h1><b>корЫсть</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="30">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 30</p>
			<h1>КРАНЫ</h1>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 30</p>
			<h1><b>крАны</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>

		<div ng-switch-when="31">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 31</p>
			<h1>КРЕМЕНЬ</h1>
			<p></p>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 31</p>
			<h1><b>кремЕнь</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
        <div ng-switch-when="32">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 32</p>
			<h1>КРЕМНЯ</h1>
			<p></p>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 32</p>
			<h1><b>кремнЯ</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>
		
		<div ng-switch-when="33">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 33</p>
			<h1>ЛЕКТОРЫ</h1>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 33</p>
			<h1><b>лЕкторы</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>
		
		<div ng-switch-when="34">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 34</p>
			<h1>ЛЕКТОРОВ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 34</p>
			<h1><b>лЕкторов</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>
		
		<div ng-switch-when="35">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 35</p>
			<h1>ЛЫЖНЯ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 35</p>
			<h1><b>лыжнЯ</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>
		<div ng-switch-when="36">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 36</p>
			<h1>МЕСТНОСТЕЙ</h1>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 36</p>
			<h1><b>мЕстностей</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="37">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 37</p>
			<h1>ПОЧЕСТЕЙ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 37</p>
			<h1><b>пОчестей</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p><p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="38">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 38</p>
			<h1>ЧЕЛЮСТЕЙ</h1>
			<p></p>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 38</p>
			<h1><b>чЕлюстей</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="39">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 39</p>
			<h1>НОВОСТЕЙ</h1>
			<p></p>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 39</p>
			<h1><b>новостЕй</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="40">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 40</p>
			<h1>МУСОРОПРОВОД</h1>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 40</p>
			<h1><b>мусоропровОд</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>

		<div ng-switch-when="41">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 41</p>
			<h1>ГАЗОПРОВОД</h1>
			<p></p>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 41</p>
			<h1><b>газопровОд</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
        <div ng-switch-when="42">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 42</p>
			<h1>НЕФТЕПРОВОД</h1>
			<p></p>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 42</p>
			<h1><b>нефтепровОд</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>
		
		<div ng-switch-when="43">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 43</p>
			<h1>ВОДОПРОВОД</h1>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 43</p>
			<h1><b>водопровОд</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>
		
		<div ng-switch-when="44">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 44</p>
			<h1>НАМЕРЕНИЕ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 44</p>
			<h1><b>намЕрение</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>
		
		<div ng-switch-when="45">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 45</p>
			<h1>НАРОСТ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 45</p>
			<h1><b>нарОст</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>
		<div ng-switch-when="46">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 46</p>
			<h1>НЕДУГ</h1>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 46</p>
			<h1><b>недУг</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="47">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 47</p>
			<h1>НЕДРУГ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 47</p>
			<h1><b>нЕдруг</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="48">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 48</p>
			<h1>НЕНАВИСТЬ</h1>
			<p></p>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 48</p>
			<h1><b>нЕнависть</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="49">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 49</p>
			<h1>НЕНАДОЛГО</h1>
			<p></p>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 49</p>
			<h1><b>ненадОлго</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="50">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 50</p>
			<h1>НОГТЯ</h1>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 50</p>
			<h1><b>нОгтя</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>


	  <div ng-switch-when="51">
	  <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 51</p>
            <h1>ОТРОЧЕСТВО</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
            <p>Карточка 51</p>
            <h1><b>Отрочество</b></h1>
              <hr style="border: 2px solid green;" align=center width=60%>
            <p></p>
	        <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	        <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
		</div>

        <div ng-switch-when="52">
        <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 52</p>
			<h1>ПАРТЕР</h1>
		
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 52</p>
			<h1><b>партЕр</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	        <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	        <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>

        <div ng-switch-when="53">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 53</p>
			<h1>ПОРТФЕЛЬ</h1>
		
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 53</p>
			<h1><b>портфЕль</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>

        <div ng-switch-when="54">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 54</p>
			<h1>ПОРУЧНИ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 54</p>
			<h1><b>пОручни</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	        <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	        <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>

		<div ng-switch-when="55">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 55</p>
			<h1>ПРИДАНОЕ</h1>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 55</p>
			<h1><b>придАное</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>

		<div ng-switch-when="56">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 56</p><br />
			<h1>ПРИЗЫВ</h1>
			
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 56</p><br />
			<h1><b>призЫв</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			<br />
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="57">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 57</p>
			<h1>ПОЗЫВ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 57</p>
			<h1><b>позЫв</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>
		
		<div ng-switch-when="58">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 58</p>
			<h1>ОТЗЫВ (ПОСЛА)</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 58</p>
			<h1><b>отзЫв (посла)</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>
		
		<div ng-switch-when="59">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 59</p>
			<h1>СОЗЫВ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 59</p>
			<h1><b>созЫв</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="60">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 60</p>
			<h1>ОТЗЫВ (НА ПУБЛИКАЦИЮ)</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 60</p>
			<h1><b>Отзыв (на публикацию)</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="61">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 61</p>
			<h1>СВЕКЛА</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 61</p>
			<h1><b>свЁкла</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="62">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 62</p>
			<h1>СИРОТЫ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 62</p>
			<h1><b>сирОты</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="63">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 63</p>
			<h1>СРЕДСТВА</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 63</p>
			<h1><b>срЕдства</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="64">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 64</p>
			<h1>СТОЛЯР</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 64</p>
			<h1><b>столЯр</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="65">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 65</p>
			<h1>ТАМОЖНЯ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 65</p>
			<h1><b>тамОжня</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		


	  


	</div>
  </div>
  </form>

</body>
</html>