<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Карточки по орфоэпии</title>

    <link href="../static/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/jumbotron-narrow.css" rel="stylesheet">

	<script type="text/javascript" src="http://gc.kis.v2.scr.kaspersky-labs.com/53ED2383-8A85-C445-BC43-D8312919413A/main.js" charset="UTF-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  </head>
  <body>
  <form method="GET">

  <div ng-app>
	
	<div class="container">
		
	
	  
			
      <div class="jumbotron">
      <div ng-switch="number" ng-init= {{ number_of_task }}>

	  <div ng-switch-default>
	  <div ng-app="">
		<div ng-hide="isShow">
			<br/><br/><br/><br/>
            <p>Подождите секундочку</p>
			<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
		</div>
	  </div>				
	  </div>

	  		<div ng-switch-when="1">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 1</p>
			<h1>ТОРТЫ</h1>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 1</p>
			<h1><b>тОрты</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="2">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 2</p>
			<h1>ТОРТОВ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 2</p>
			<h1><b>тОртов</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="3">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 3</p>
			<h1>ЦЕМЕНТ</h1>
			<p></p>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 3</p>
			<h1><b>цемЕнт</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="4">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 4</p>
			<h1>ЦЕНТНЕР</h1>
			<p></p>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 4</p>
			<h1><b>цЕнтнер</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="5">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 5</p>
			<h1>ЦЕПОЧКА</h1>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 5</p>
			<h1><b>цепОчка</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="6">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 6</p>
			<h1>ШАРФЫ</h1>
			<p></p>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 6</p>
			<h1><b>шАрфы</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
        <div ng-switch-when="7">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 7</p>
			<h1>ШОФЕР</h1>
			<p></p>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 7</p>
			<h1><b>шофЁр</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>
		
		<div ng-switch-when="8">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 8</p>
			<h1>ЭКСПЕРТ</h1>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 8</p>
			<h1><b>экспЕрт</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>
		
		<div ng-switch-when="9">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 9</p>
			<h1>ВЕРНА</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 9</p>
			<h1><b>вернА</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>
		
		<div ng-switch-when="10">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 10</p>
			<h1>МОЗАИЧНЫЙ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 10</p>
			<h1><b>мозаИчный</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>



	  <div ng-switch-when="11">
	  <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 11</p>
            <h1>ЗНАЧИМЫЙ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
            <p>Карточка 11</p>
            <h1><b>знАчимый</b></h1>
              <hr style="border: 2px solid green;" align=center width=60%>
            <p></p>
	        <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	        <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
		</div>

        <div ng-switch-when="12">
        <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 12</p>
			<h1>ОПТОВЫЙ</h1>
		
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 12</p>
			<h1><b>оптОвый</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	        <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	        <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>

        <div ng-switch-when="13">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 13</p>
			<h1>КРАСИВЕЕ</h1>
		
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 13</p>
			<h1><b>красИвее</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>

        <div ng-switch-when="14">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 14</p>
			<h1>ПРОЗОРЛИВА</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 14</p>
			<h1><b>прозорлИва</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	        <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	        <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>

		<div ng-switch-when="15">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 15</p>
			<h1>КРАСИВЕЙШИЙ</h1>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 15</p>
			<h1><b>красИвейший</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>

		<div ng-switch-when="16">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 16</p><br />
			<h1>КУХОННЫЙ</h1>
			
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 16</p><br />
			<h1><b>кУхонный</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="17">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 17</p>
			<h1>ПРОЖОРЛИВА</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 17</p>
			<h1><b>прожОрлива</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>
		
		<div ng-switch-when="18">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 18</p>
			<h1>ЛОВКА</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 18</p>
			<h1><b>ловкА</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>
		
		<div ng-switch-when="19">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 19</p>
			<h1>СЛИВОВЫЙ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 19</p>
			<h1><b>слИвовый</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="20">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 20</p>
			<h1>БРАЛА</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 20</p>
			<h1><b>бралА</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="21">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 21</p>
			<h1>ОБНЯЛАСЬ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 21</p>
			<h1><b>обнялАсь</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="22">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 22</p>
			<h1>БРАЛАСЬ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 22</p>
			<h1><b>бралАсь</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="23">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 23</p>
			<h1>ОБОГНАЛА</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 23</p>
			<h1><b>обогналА</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="24">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 24</p>
			<h1>ВЗЯЛА</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 24</p>
			<h1><b>взялА</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="25">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 25</p>
			<h1>ОБОДРАЛА</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 25</p>
			<h1><b>ободралА</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="26">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 26</p>
			<h1>ВЗЯЛАСЬ</h1>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 26</p>
			<h1><b>взялАсь</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="27">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 27</p>
			<h1>ОБОДРИТЬ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 27</p>
			<h1><b>ободрИть</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="28">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 28</p>
			<h1>ВЛИЛАСЬ</h1>
			<p></p>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 28</p>
			<h1><b>влилАсь</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="29">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 29</p>
			<h1>ОБОДРИТЬСЯ</h1>
			<p></p>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 29</p>
			<h1><b>ободрИться</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="30">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 30</p>
			<h1>ОБОДРИШЬСЯ</h1>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 30</p>
			<h1><b>ободрИшься</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="31">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 31</p>
			<h1>ВОРВАЛАСЬ</h1>
			<p></p>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 31</p>
			<h1><b>ворвалАсь</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
        <div ng-switch-when="32">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 32</p>
			<h1>ОБОСТРИТЬ</h1>
			<p></p>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 32</p>
			<h1><b>обострИть</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>
		
		<div ng-switch-when="33">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 33</p>
			<h1>ВОСПРИНЯТЬ</h1>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 33</p>
			<h1><b>воспринЯть</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>
		
		<div ng-switch-when="34">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 34</p>
			<h1>ВОСПРИНЯЛА</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 34</p>
			<h1><b>воспринялА</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>
		
		<div ng-switch-when="35">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 35</p>
			<h1>ОДОЛЖИТЬ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 35</p>
			<h1><b>одолжИть</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>
		<div ng-switch-when="36">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 36</p>
			<h1>ОДОЛЖИТ</h1>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 36</p>
			<h1><b>одолжИт</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="37">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 37</p>
			<h1>ВОССОЗДАЛА</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 37</p>
			<h1><b>воссоздалА</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="38">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 38</p>
			<h1><b>ОЗЛОБИТЬ</b></h1>
			<p></p>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 38</p>
			<h1><b>озлОбить</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="39">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 39</p>
			<h1>ЗАВИДНО</h1>
			<p></p>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 39</p>
			<h1><b>завИдно</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="40">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 40</p>
			<h1>ВРУЧИТЬ</h1>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 40</p>
			<h1><b>вручИть</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>

		<div ng-switch-when="41">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 41</p>
			<h1>ВРУЧИТ</h1>
			<p></p>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 41</p>
			<h1><b>вручИт</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
        <div ng-switch-when="42">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 42</p>
			<h1>ОКЛЕИТЬ</h1>
			<p></p>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 42</p>
			<h1><b>оклЕить</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>
		
		<div ng-switch-when="43">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 43</p>
			<h1>ГНАЛА</h1>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 43</p>
			<h1><b>гналА</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>
		
		<div ng-switch-when="44">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 44</p>
			<h1>ОКРУЖИТ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 44</p>
			<h1><b>окружИт</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>
		
		<div ng-switch-when="45">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 45</p>
			<h1>ГНАЛАСЬ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 45</p>
			<h1><b>гналАсь</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>
		<div ng-switch-when="46">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 46</p>
			<h1>ОПЛОМБИРОВАТЬ</h1>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 46</p>
			<h1><b>опломбировАть</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="47">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 47</p>
			<h1>ДОБРАЛА</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 47</p>
			<h1><b>добралА</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="48">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 48</p>
			<h1>ФОРМИРОВАТЬ</h1>
			<p></p>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 48</p>
			<h1><b>формировАть</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="49">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 49</p>
			<h1>НОРМИРОВАТЬ</h1>
			<p></p>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 49</p>
			<h1><b>нормировАть</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="50">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 50</p>
			<h1>СОРТИРОВАТЬ</h1>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 50</p>
			<h1><b>сортировАть</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>

		<div ng-switch-when="51">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 51</p>
			<h1>ДОБРАЛАСЬ</h1>
			<p></p>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 51</p>
			<h1><b>добралАсь</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
        <div ng-switch-when="52">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 52</p>
			<h1>ПРЕМИРОВАТЬ</h1>
			<p></p>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 52</p>
			<h1><b>премировАть</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>
		
		<div ng-switch-when="53">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 53</p>
			<h1>ДОЖДАЛАСЬ</h1>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 53</p>
			<h1><b>дождалАсь</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>
		
		<div ng-switch-when="54">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 54</p>
			<h1>ОПОШЛИТЬ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 54</p>
			<h1><b>опОшлить</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>
		
		<div ng-switch-when="55">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 55</p>
			<h1>ДОЗВОНИТСЯ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 55</p>
			<h1><b>дозвонИтся</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>
		<div ng-switch-when="56">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 56</p>
			<h1>ОСВЕДОМИТЬСЯ</h1>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 56</p>
			<h1><b>освЕдомиться</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="57">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 57</p>
			<h1>ДОЗВОНИТЬСЯ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 57</p>
			<h1><b>дозвонИться</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="58">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 58</p>
			<h1>ОСВЕДОМИШЬСЯ</h1>
			<p></p>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 58</p>
			<h1><b>освЕдомишься</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="59">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 59</p>
			<h1>ДОЗВОНЯТСЯ</h1>
			<p></p>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 59</p>
			<h1><b>дозвонЯтся</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="60">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 60</p>
			<h1>ОТБЫЛА</h1>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 60</p>
			<h1><b>отбылА</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>


	  <div ng-switch-when="61">
	  <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 61</p>
            <h1>ЖДАЛА</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
            <p>Карточка 61</p>
            <h1><b>ждалА</b></h1>
              <hr style="border: 2px solid green;" align=center width=60%>
            <<p></p>
	        <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	        <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
		</div>

        <div ng-switch-when="62">
        <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 62</p>
			<h1>ОТКУПОРИТЬ</h1>
		
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 62</p>
			<h1><b>откУпорить</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	        <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	        <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>

        <div ng-switch-when="63">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 63</p>
			<h1>ОТКУПОРИЛ</h1>
		
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 63</p>
			<h1><b>откУпорил</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>

        <div ng-switch-when="64">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 64</p>
			<h1>ЖИЛОСЬ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 64</p>
			<h1><b>жилОсь</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	        <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	        <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>

		<div ng-switch-when="65">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 565</p>
			<h1>ОТОЗВАЛА</h1>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 65</p>
			<h1><b>отозвалА</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>

		  </div>		
        </div>
	  
	  

	  


	</div>
  </div>
  </form>

</body>
</html>