<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Карточки по орфоэпии</title>

    <link href="../static/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/jumbotron-narrow.css" rel="stylesheet">

	<script type="text/javascript" src="http://gc.kis.v2.scr.kaspersky-labs.com/53ED2383-8A85-C445-BC43-D8312919413A/main.js" charset="UTF-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  </head>
  <body>
  <form method="GET">

  <div ng-app>
	
	<div class="container">
		

	  
			
      <div class="jumbotron">
      <div ng-switch="number" ng-init= {{ number_of_task }}>

	  <div ng-switch-default>
	  <div ng-app="">
		<div ng-hide="isShow">
			<br/><br/><br/><br/>
            <p>Подождите секундочку</p>
			<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
		</div>
	  </div>				
	  </div>

	  <div ng-switch-when="1">
	  <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 1</p>
            <h1>КЛАЛА</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
            <p>Карточка 1</p>
            <h1><b>клАла</b></h1>
              <hr style="border: 2px solid green;" align=center width=60%>
           <p></p>
	        <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	        <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
		</div>

        <div ng-switch-when="2">
        <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 2</p>
			<h1>ПОСЛАЛА</h1>
		
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 2</p>
			<h1><b>послАла</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	        <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	        <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>

        <div ng-switch-when="3">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 3</p>
			<h1>ПРИБЫЛ</h1>
		
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 3</p>
			<h1><b>прИбыл</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>

        <div ng-switch-when="4">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 4</p>
			<h1>ПРИБЫЛА</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 4</p>
			<h1><b>прибылА</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	        <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	        <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>

		<div ng-switch-when="5">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 5</p>
			<h1>ПРИБЫЛО</h1>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 5</p>
			<h1><b>прИбыло</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>

		<div ng-switch-when="6">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 6</p><br />
			<h1>КРАЛАСЬ</h1>
			
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 6</p><br />
			<h1><b>крАлась</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			<br />
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="7">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 7</p>
			<h1>ПРИНЯТЬ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 7</p>
			<h1><b>принЯть</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>
		
		<div ng-switch-when="8">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 8</p>
			<h1>ПРИНЯЛ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 8</p>
			<h1><b>прИнял</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>
		
		<div ng-switch-when="9">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 9</p>
			<h1>ПРИНЯЛИ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 9</p>
			<h1><b>прИняли</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="10">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 10</p>
			<h1>ПРИНЯЛА</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 10</p>
			<h1><b>принялА</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="11">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 11</p>
			<h1>ЛГАЛА</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 11</p>
			<h1><b>лгалА</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="12">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 12</p>
			<h1>ПРИНУДИТЬ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 12</p>
			<h1><b>принУдить</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="13">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 13</p>
			<h1>ЛИЛА (воду)</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 13</p>
			<h1><b>лилА (воду)</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="14">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 14</p>
			<h1>РВАЛА</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 14</p>
			<h1><b>рвалА</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="15">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 15</p>
			<h1>ЛИЛАСЬ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 15</p>
			<h1><b>лилАсь</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="16">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 16</p>
			<h1>СВЕРЛИШЬ</h1>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 16</p>
			<h1><b>сверлИшь</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="17">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 17</p>
			<h1>СВЕРЛИТ<h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 17</p>
			<h1><b>сверлИт</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="18">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 18</p>
			<h1>НАВРАЛА</h1>
			<p></p>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 18</p>
			<h1><b>навралА</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="19">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 19</p>
			<h1>СНЯЛА</h1>
			<p></p>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 19</p>
			<h1><b>снялА</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="20">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 20</p>
			<h1>НАДЕЛИТ</h1>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 20</p>
			<h1><b>наделИт</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="21">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 21</p>
			<h1>СОЗДАЛА</h1>
			<p></p>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 21</p>
			<h1><b>создалА</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
        <div ng-switch-when="22">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 22</p>
			<h1>НАДОРВАЛАСЬ</h1>
			<p></p>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 22</p>
			<h1><b>надорвалАсь</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>
		
		<div ng-switch-when="23">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 23</p>
			<h1>СОРВАЛА</h1>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 23</p>
			<h1><b>сорвалА</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>
		
		<div ng-switch-when="24">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 24</p>
			<h1>НАЗВАЛАСЬ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 24</p>
			<h1><b>назвалАсь</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>
		
		<div ng-switch-when="25">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 25</p>
			<h1>СОРИТ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 25</p>
			<h1><b>сорИт</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>
		<div ng-switch-when="26">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 26</p>
			<h1>НАКРЕНИТЬСЯ</h1>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 26</p>
			<h1><b>накренИться</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="27">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 27</p>
			<h1>НАКРЕНИТСЯ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 27</p>
			<h1><b>накренИтся</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="28">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 28</p>
			<h1>УБРАЛА </h1>
			<p></p>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 28</p>
			<h1><b>убралА</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="29">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 29</p>
			<h1>НАЛИЛА</h1>
			<p></p>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 29</p>
			<h1><b>налилА</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="30">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 30</p>
			<h1>УБЫСТРИТЬ</h1>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 30</p>
			<h1><b>убыстрИть</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>

		<div ng-switch-when="31">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 31</p>
			<h1>НАРВАЛА</h1>
			<p></p>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 31</p>
			<h1><b>нарвалА </b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
        <div ng-switch-when="32">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 32</p>
			<h1>УГЛУБИТЬ</h1>
			<p></p>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 32</p>
			<h1><b>углубИть</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>
		
		<div ng-switch-when="33">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 33</p>
			<h1>НАСОРИТ</h1>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 33</p>
			<h1><b>насорИт</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>
		
		<div ng-switch-when="34">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 34</p>
			<h1>УКРЕПИТ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 34</p>
			<h1><b>укрепИт</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>
		
		<div ng-switch-when="35">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 35</p>
			<h1>НАЧАТЬ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 35</p>
			<h1><b>начАть</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>
		<div ng-switch-when="36">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 36</p>
			<h1>НАЧАЛ</h1>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 36</p>
			<h1><b>нАчал</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="37">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 37</p>
			<h1>НАЧАЛА</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 37</p>
			<h1><b>началА</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p><p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="38">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 38</p>
			<h1>НАЧАЛИ</h1>
			<p></p>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 38</p>
			<h1><b>нАчали</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="39">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 39</p>
			<h1>ЧЕРПАТЬ</h1>
			<p></p>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 39</p>
			<h1><b>чЕрпать</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="40">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 40</p>
			<h1>ОБЗВОНИТ</h1>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 40</p>
			<h1><b>обзвонИт</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>

		<div ng-switch-when="41">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 41</p>
			<h1>ЩЕМИТ</h1>
			<p></p>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 41</p>
			<h1><b>щемИт</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
        <div ng-switch-when="42">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 42</p>
			<h1>ЗАЩЕМИТ</h1>
			<p></p>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 42</p>
			<h1><b>защемИт</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>
		
		<div ng-switch-when="43">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 43</p>
			<h1>ОБЛЕГЧИТЬ</h1>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 43</p>
			<h1><b>облегчИть</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>
		
		<div ng-switch-when="44">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 44</p>
			<h1>ОБЛЕГЧИТ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 44</p>
			<h1><b>облегчИт</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>
		
		<div ng-switch-when="45">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 45</p>
			<h1>ЩЁЛКАТЬ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 45</p>
			<h1><b>щЁлкать</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>
		<div ng-switch-when="46">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 46</p>
			<h1>ОБЛИЛАСЬ</h1>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 46</p>
			<h1><b>облилАсь</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="47">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 47</p>
			<h1>БАЛОВАННЫЙ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 47</p>
			<h1><b>балОванный</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="48">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 48</p>
			<h1>НАЧАТЫЙ</h1>
			<p></p>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 48</p>
			<h1><b>нАчатый</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="49">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 49</p>
			<h1>ВКЛЮЧЁННЫЙ</h1>
			<p></p>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 49</p>
			<h1><b>включЁнный</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="50">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 50</p>
			<h1>ВКЛЮЧЕН</h1>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 50</p>
			<h1><b>включЁн</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>


	  <div ng-switch-when="51">
	  <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 51</p>
            <h1>НИЗВЕДЕННЫЙ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
            <p>Карточка 51</p>
            <h1><b>низведЁнный</b></h1>
              <hr style="border: 2px solid green;" align=center width=60%>
           <p></p>
	        <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	        <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
		</div>

        <div ng-switch-when="52">
        <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 52</p>
			<h1>НАЧАТА</h1>
		
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 52</p>
			<h1><b>начатА</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	        <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	        <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>

        <div ng-switch-when="53">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 53</p>
			<h1>ДОВЕЗЕННЫЙ</h1>
		
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 53</p>
			<h1><b>довезЁнный</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>

        <div ng-switch-when="54">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 54</p>
			<h1>НИЗВЕДЕН</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 54</p>
			<h1><b>низведЁн</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	        <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	        <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>

		<div ng-switch-when="55">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 55</p>
			<h1>ЗАГНУТЫЙ</h1>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 55</p>
			<h1><b>зАгнутый</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>

		<div ng-switch-when="56">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 56</p><br />
			<h1>ОБОДРЕН</h1>
			
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 56</p><br />
			<h1><b>ободрЁн</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			<br />
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="57">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 57</p>
			<h1>ОБОДРЕНА</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 57</p>
			<h1><b>ободренА</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>
		
		<div ng-switch-when="58">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 58</p>
			<h1>ЗАНЯТЫЙ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 58</p>
			<h1><b>зАнятый</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>
		
		<div ng-switch-when="59">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 59</p>
			<h1>ЗАНЯТА</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 59</p>
			<h1><b>занятА</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="60">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 60</p>
			<h1>ОБОСТРЕННЫЙ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 60</p>
			<h1><b>обострЁнный</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="61">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 61</p>
			<h1>ЗАПЕРТЫЙ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 61</p>
			<h1><b>зАпертый</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="62">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 62</p>
			<h1>ЗАПЕРТА</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 62</p>
			<h1><b>запертА</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="63">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 63</p>
			<h1>ЗАСЕЛЕННЫЙ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 63</p>
			<h1><b>заселЁнный</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="64">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 64</p>
			<h1>ЗАСЕЛЕНА</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 64</p>
			<h1><b>заселенА</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="65">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 65</p>
			<h1>ОТКЛЮЧЕННЫЙ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 65</p>
			<h1><b>отключЁнный </b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="66">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 66</p>
			<h1>ИЗБАЛОВАННЫЙ</h1>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 66</p>
			<h1><b>избалОванный</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="67">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 67</p>
			<h1>БАЛОВАННЫЙ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 67</p>
			<h1><b>балОванный</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
		<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="68">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 68</p>
			<h1>ПОВТОРЕННЫЙ</h1>
			<p></p>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 68</p>
			<h1><b>повторЁнный</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="69">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 69</p>
			<h1>ЦЕНТНЕР</h1>
			<p></p>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 69</p>
			<h1><b>цЕнтнер</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="70">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 70</p>
			<h1>КОРМЯЩИЙ</h1>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 70</p>
			<h1><b>кормЯщий</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="71">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 71</p>
			<h1>ПОДЕЛЕННЫЙ</h1>
			<p></p>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 71</p>
			<h1><b>поделЁнный</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
        <div ng-switch-when="72">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 72</p>
			<h1>КРОВОТОЧАЩИЙ</h1>
			<p></p>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 72</p>
			<h1><b>кровоточАщий</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>
		
		<div ng-switch-when="73">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 73</p>
			<h1>ПОНЯВШИЙ</h1>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 73</p>
			<h1><b>понЯвший</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>
		
		<div ng-switch-when="74">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 74</p>
			<h1>МОЛЯЩИЙ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 74</p>
			<h1><b>молЯщий</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>
		
		<div ng-switch-when="75">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 75</p>
			<h1>ПРИНЯТЫЙ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 75</p>
			<h1><b>прИнятый</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>
	  </div>
	  </div>

	  


	</div>
  </div>
  </form>

</body>
</html>