<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Карточки по орфоэпии</title>

    <link href="../static/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/jumbotron-narrow.css" rel="stylesheet">

	<script type="text/javascript" src="http://gc.kis.v2.scr.kaspersky-labs.com/53ED2383-8A85-C445-BC43-D8312919413A/main.js" charset="UTF-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  </head>
  <body>
  <form method="GET">

  <div ng-app>
	
	<div class="container">
		

	  
			
      <div class="jumbotron">
      <div ng-switch="number" ng-init= {{ number_of_task }}>

	  <div ng-switch-default>
	  <div ng-app="">
		<div ng-hide="isShow">
			<br/><br/><br/><br/>
            <p>Подождите секундочку</p>
			<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
		</div>
	  </div>				
	  </div>

	  <div ng-switch-when="1">
	  <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 1</p>
            <h1>НАЖИВШИЙ </h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
            <p>Карточка 1</p>
            <h1><b>нажИвший</b></h1>
              <hr style="border: 2px solid green;" align=center width=60%>
            <p></p>
	        <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	        <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
		</div>

        <div ng-switch-when="2">
        <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 2</p>
			<h1>ПРИРУЧЕННЫЙ</h1>
		
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 2</p>
			<h1><b>приручЁнный</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	        <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	        <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>

        <div ng-switch-when="3">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 3</p>
			<h1>НАЖИТЫЙ</h1>
		
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 3</p>
			<h1><b>нАжитый</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>

        <div ng-switch-when="4">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 4</p>
			<h1>НАЖИТА</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 4</p>
			<h1><b>нажитА</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	        <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	        <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>

		<div ng-switch-when="5">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 5</p>
			<h1>ПРОЖИВШИЙ</h1>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 5</p>
			<h1><b>прожИвший</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>

		<div ng-switch-when="6">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 6</p>
			<h1>НАЛИВШИЙ</h1>
			
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 6</p>
			<h1><b>налИвший</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			<br />
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="7">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 7</p>
			<h1>НАЛИТА</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 7</p>
			<h1><b>налитА</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>
		
		<div ng-switch-when="8">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 8</p>
			<h1>СНЯТА</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 8</p>
			<h1><b>снятА</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>
		
		<div ng-switch-when="9">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 9</p>
			<h1>НАНЯВШИЙСЯ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 9</p>
			<h1><b>нанЯвшийся</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="10">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 10</p>
			<h1>СОГНУТЫЙ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 10</p>
			<h1><b>сОгнутый</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="11">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 11</p>
			<h1>НАЧАВШИЙ </h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 11</p>
			<h1><b>начАвший</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="12">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 12</p>
			<h1>БАЛУЯСЬ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 12</p>
			<h1><b>балУясь</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="13">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 13</p>
			<h1>ПОДНЯВ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 13</p>
			<h1><b>поднЯв</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="14">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 14</p>
			<h1>ЗАКУПОРИВ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 14</p>
			<h1><b>закУпорив</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="15">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 15</p>
			<h1>ПОНЯВ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 15</p>
			<h1><b>понЯв</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="16">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 16</p>
			<h1>НАЧАВ</h1>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 16</p>
			<h1><b>начАв</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="17">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 17</p>
			<h1>ПРИБЫВ<h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 17</p>
			<h1><b>прибЫв</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="18">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 18</p>
			<h1>НАЧАВШИСЬ</h1>
			<p></p>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 18</p>
			<h1><b>начАвшись</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="19">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 19</p>
			<h1>СОЗДАВ</h1>
			<p></p>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 19</p>
			<h1><b>создАв </b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="20">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 20</p>
			<h1>ВОВРЕМЯ</h1>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 20</p>
			<h1><b>вОвремя</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="21">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 21</p>
			<h1>ЗАГОДЯ</h1>
			<p></p>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 21</p>
			<h1><b>зАгодя</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
        <div ng-switch-when="22">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 22</p>
			<h1>ДОБЕЛА</h1>
			<p></p>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 22</p>
			<h1><b>добелА</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>
		
		<div ng-switch-when="23">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 23</p>
			<h1>ЗАСВЕТЛО</h1>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 23</p>
			<h1><b>зАсветло</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>
		
		<div ng-switch-when="24">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 24</p>
			<h1>ДОВЕРХУ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 24</p>
			<h1><b>дОверху</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>
		
		<div ng-switch-when="25">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 25</p>
			<h1>ЗАТЕМНО</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 25</p>
			<h1><b>зАтемно</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>

		<div ng-switch-when="26">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 26</p>
			<h1>ДОНЕЛЬЗЯ</h1>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 26</p>
			<h1><b>донЕльзя</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="27">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 27</p>
			<h1>КРАСИВЕЕ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 27</p>
			<h1><b>красИвее</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="28">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 28</p>
			<h1>ДОНИЗУ</h1>
			<p></p>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 28</p>
			<h1><b>дОнизу</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="29">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 29</p>
			<h1>НАДОЛГО</h1>
			<p></p>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 29</p>
			<h1><b>надОлго</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>


		<div ng-switch-when="30">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 30</p>
			<h1>НЕНАДОЛГО</h1>
			<p></p>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 30</p>
			<h1><b>ненадОлго</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>

		<div ng-switch-when="31">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 31</p>
			<h1>ЗАПЕРТЫЙ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 31</p>
			<h1><b>зАпертый</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="32">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 32</p>
			<h1>ЗАПЕРТА</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 32</p>
			<h1><b>запертА</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="33">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 33</p>
			<h1>ЗАСЕЛЕННЫЙ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 33</p>
			<h1><b>заселЁнный</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="34">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 34</p>
			<h1>ЗАСЕЛЕНА</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 34</p>
			<h1><b>заселенА</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="35">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 35</p>
			<h1>ОТКЛЮЧЕННЫЙ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 35</p>
			<h1><b>отключЁнный </b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>

        <div ng-switch-when="36">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 36</p>
			<h1>ИЗБАЛОВАННЫЙ</h1>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 36</p>
			<h1><b>избалОванный</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="37">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 37</p>
			<h1>БАЛОВАННЫЙ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 37</p>
			<h1><b>балОванный</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
		<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="38">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 38</p>
			<h1>ПОВТОРЕННЫЙ</h1>
			<p></p>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 38</p>
			<h1><b>повторЁнный</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="39">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 39</p>
			<h1>КРАЛА</h1>
			<p></p>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 39</p>
			<h1><b>крАла</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="40">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 40</p>
			<h1>КОРМЯЩИЙ</h1>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 40</p>
			<h1><b>кормЯщий</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="41">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 41</p>
			<h1>ПОДЕЛЕННЫЙ</h1>
			<p></p>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 41</p>
			<h1><b>поделЁнный</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
        <div ng-switch-when="42">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 42</p>
			<h1>КРОВОТОЧАЩИЙ</h1>
			<p></p>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 42</p>
			<h1><b>кровоточАщий</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>
		
		<div ng-switch-when="43">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 43</p>
			<h1>ПОНЯВШИЙ</h1>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 43</p>
			<h1><b>понЯвший</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>
		
		<div ng-switch-when="44">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 44</p>
			<h1>МОЛЯЩИЙ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 44</p>
			<h1><b>молЯщий</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>
		
		<div ng-switch-when="45">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 45</p>
			<h1>ПРИНЯТЫЙ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 45</p>
			<h1><b>прИнятый</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
	    </div>

<div ng-switch-when="46">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 46</p>
			<h1>ОБЛИЛАСЬ</h1>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 46</p>
			<h1><b>облилАсь</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="47">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 47</p>
			<h1>БАЛОВАННЫЙ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 47</p>
			<h1><b>балОванный</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="48">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 48</p>
			<h1>НАЧАТЫЙ</h1>
			<p></p>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 48</p>
			<h1><b>нАчатый</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="49">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 49</p>
			<h1>ВКЛЮЧЕННЫЙ</h1>
			<p></p>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 49</p>
			<h1><b>включЁнный</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="50">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 50</p>
			<h1>ВКЛЮЧЕН</h1>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 50</p>
			<h1><b>включЁн</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>


	  <div ng-switch-when="51">
	  <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 51</p>
            <h1>НИЗВЕДЕННЫЙ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
            <p>Карточка 51</p>
            <h1><b>низведЁнный</b></h1>
              <hr style="border: 2px solid green;" align=center width=60%>
           <p></p>
	        <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	        <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
		</div>

        <div ng-switch-when="52">
        <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 52</p>
			<h1>НАЧАТА</h1>
		
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 52</p>
			<h1><b>начатА</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	        <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	        <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>

        <div ng-switch-when="53">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 53</p>
			<h1>ДОВЕЗЕННЫЙ</h1>
		
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 53</p>
			<h1><b>довезЁнный</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>

        <div ng-switch-when="54">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 54</p>
			<h1>НИЗВЕДЕН</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 54</p>
			<h1><b>низведЁн</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	        <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	        <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>

		<div ng-switch-when="55">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 55</p>
			<h1>ЗАГНУТЫЙ</h1>
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 55</p>
			<h1><b>зАгнутый</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>

		<div ng-switch-when="56">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 56</p><br />
			<h1>ОБОДРЕН</h1>
			
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 56</p><br />
			<h1><b>ободрЁн</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			<br />
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="57">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 57</p>
			<h1>ОБОДРЕНА</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 57</p>
			<h1><b>ободренА</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>
		
		<div ng-switch-when="58">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 58</p>
			<h1>ЗАНЯТЫЙ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 58</p>
			<h1><b>зАнятый</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>
        </div>
		
		<div ng-switch-when="59">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 59</p>
			<h1>ЗАНЯТА</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 59</p>
			<h1><b>занятА</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="60">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 60</p>
			<h1>ОБОСТРЕННЫЙ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 60</p>
			<h1><b>обострЁнный</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="61">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 61</p>
			<h1>АЛФАВИТ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 61</p>
			<h1><b>алфАвит</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="62">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 62</p>
			<h1>ДАВНИШНИЙ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 62</p>
			<h1><b>давнИшний</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="63">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 63</p>
			<h1>ДОКРАСНА</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 63</p>
			<h1><b>докраснА</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="64">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 64</p>
			<h1>ИССТАРИ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 64</p>
			<h1><b>Исстари</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>
		
		<div ng-switch-when="65">
	    <div ng-app="">
		<div ng-hide="isShow">
			<p>Карточка 65</p>
			<h1>ОБЕСПЕЧЕНИЕ</h1>
			
			<input class="btn btn-lg btn-success" type="button" ng-click="isShow = true" value="Проверить" />
		</div>
		<div ng-show="isShow">
			<p>Карточка 65</p>
			<h1><b>обеспЕчение</b></h1>
			<hr style="border: 2px solid green;" align=center width=60%>
			<p></p>
			
	    <input type="submit" class="btn btn-lg btn-success" name="repeat" value="Повторить"> 
	    <input type="submit" class="btn btn-lg btn-success" name="right" value="Правильно">
		</div>
	    </div>		
        </div>  

        
	  </div>
	  </div>

	  


	</div>
  </div>
  </form>

</body>
</html>